<!-- ユーザーの詳細 -->

 <h1>User info</h1>

<div>
  <h3>Name</h3>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image("100x100") %>


<h3>Introduction</h3>
 <h3><%= @user.introduction %></h3>


  <% if @user ==  current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>

</div>

<!-- ユーザーの投稿一覧 -->
<h2>Book detail</h2>

<table class = "table">
  <tbody>
    <tr>
      <% @books.each do |book| %>

   <td><%= image_tag book.user.get_profile_image("100x100") %> <br>
   <p><%= book.user.name %></p></td>

  <td><p><%= book.title %></p></td>
  <td><p><%= book.body %></p></td>
    </tr>
  </tbody>
</table>  


<% end %>

